JIRA_USER=JiraUser
JIRA_USER_PASSWORD=supersecure
JIRA_ENDPOINT=https://myjira.atlassian.net
GRAPHITE_NAME=''
GRAPHITE_PREFIX=harvey
GRAPHITE_SERVER=localhost
GRAPHITE_PORT=2003
SENTRY_URL=http://sentry.io
SENTRY_TOKEN=mysecrettoken