JIRA_USER=JiraUser
JIRA_USER_PASSWORD=supersecure
JIRA_ENDPOINT=https://myjira.atlassian.net
GRAPHITE_NAME=''
GRAPHITE_PREFIX=harvey
GRAPHITE_SERVER=localhost
GRAPHITE_PORT=2003
SENTRY_URL=http://sentry.io
SENTRY_TOKEN=mysecrettoken
CRASH_USER=user@user.com
CRASH_PASS=345trhdfusscybrc3t5b8gqeiaHv5bvthc24653
CRASH_DEV_TOKEN=09847rtgfheney3d4rc87920ctyv