JIRA_USER=myJiraUser
JIRA_USER_PASSWORD=pasword
JIRA_ENDPOINT=https://myjira.atlassian.net
INFLUX_URI=grafana-influxdb
INFLUX_PORT=8086
INFLUX_USER=unleashed
INFLUX_USER_PASSWORD=password
INFLUX_DB=mydb